@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "Hashi Regular";
  src: url("https://db.onlinewebfonts.com/t/31406c6102e312ac69eb035017e8021b.eot");
  src: url("https://db.onlinewebfonts.com/t/31406c6102e312ac69eb035017e8021b.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/31406c6102e312ac69eb035017e8021b.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/31406c6102e312ac69eb035017e8021b.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/31406c6102e312ac69eb035017e8021b.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/31406c6102e312ac69eb035017e8021b.svg#Hashi Regular")format("svg");
}

.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}

.font-hashi {
  font-family: 'Hashi Regular', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
}